﻿
@model List<GkAnket.Models.CevaplanacakAnketlerim>
@using GridMvc.Html

@{
    ViewBag.Title = "Cevaplanacak Anketler";
}

<h2>Cevaplanacak Anketler</h2>


@Html.Grid(Model).Columns(columns =>
{
columns.Add(p => p.AnketAdi).Titled("Anket Adı");
columns.Add(p => p.OlusturulanTarih).Titled("OlusturulanTarih").Sortable(true);
columns.Add(p => p.Id).Titled(" ").Encoded(false)
    .Sanitized(false)
    .SetWidth(80)
    .RenderValueAs(o => @<div><div class="btn btn-info" onclick="alert(' @o.Id.ToString() Cevap için anket ekranına yönlendiriliyorsunuz ')">Cevapla</div></div>);
}).WithPaging(20)