﻿@model List<GkAnket.Models.AnketItemModel>
@using GridMvc.Html

@{
    ViewBag.Title = "Anketlerim";
}

@Html.Grid(Model).Columns(columns =>
{
columns.Add(p => p.AnketAdi).Titled("Anket Adı").SetWidth(110);
columns.Add(p => p.Cevaplayan).Titled("Cevaplayan Sayısı").Sortable(true);
columns.Add(p => p.Bekleyen).Titled("Bekleyen Sayısı").Sortable(true);
columns.Add(p => p.ToplamKisi).Titled("Toplam Kisi Sayısı").Sortable(true);
columns.Add(p => p.Id).Titled(" ").Encoded(false)
    .Sanitized(false)
    .SetWidth(150)
    .RenderValueAs(o => @<div><div class="btn btn-info" onclick="alert(' @o.Id.ToString() Id için düzenleme İşlemi ')" >Düzenle</div><div class="btn btn-danger" onclick="alert(' @o.Id.ToString() Id için silme işlemi')">Sil</div></div>);
}).WithPaging(20)