﻿@model List<GkAnket.Models.Kisilistesi>
@using GridMvc.Html
@{
    ViewBag.Title = "KişiListesi";
}

<h2>Kişi Listesi</h2>



@Html.Grid(Model).Columns(columns =>
{
columns.Add(p =>p.UyeAdi).Titled("Üye Adı").SetWidth(110);
columns.Add(p => p.UyeSoyadi).Titled("Üye Soyadı").Sortable(true);
columns.Add(p => p.Bolumu).Titled("Bölümü").Sortable(true);
columns.Add(p => p.Sinifi).Titled("Sinifi").Sortable(true);
}).WithPaging(20)