﻿@model GkAnket.Models.YeniAnketModel
@{
    ViewBag.Title = "Yeni Anketler";
}

<h2>Yeni Anket Kaydı</h2>
@using (Html.BeginForm())
{
     
<div class="row"  style="padding:5px">
    <div class="col-xs-4">@Html.LabelFor(p => p.Adi, new { style = "width:100%" })</div>
    <div class="col-xs-8">@Html.TextBoxFor(p => p.Adi, new { style = "width:100%" })</div>
</div>

<div class="row" style="padding:5px">
    <div class="col-xs-4">@Html.LabelFor(p => p.Aciklama, new { style ="width:100%" })</div>
    <div class="col-xs-8">@Html.TextAreaFor(p => p.Aciklama, new { style = "width:100%" })</div>
</div>
<div class="row text-center">
    <div class="col-xs-12 text-center"><button class="btn btn-success" type="submit"> Kayıt </button></div>
    
</div>
<div style="margin-top:70px"></div>
}