﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("GençKal Sakarya Anket Portalı", "Index", "Anketlerim", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    <li>@Html.ActionLink("Çıkış", "Cikis", "Guvenlik")</li>                    
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content " style="padding:5px">
      
        <div class="col-xs-3">
            <!-- required for floating -->
            <!-- Nav tabs -->
          <ul class="nav nav-pills nav-stacked">
              @{ string controller = ViewContext.RouteData.Values["Controller"].ToString();
                  string action = ViewContext.RouteData.Values["Action"].ToString();}

                <li class="@((controller == "Anketlerim" && action == "Index") ? "active" : "")">@Html.ActionLink("Anketlerim", "Index", "Anketlerim")</li>
              <li class="@((controller == "YeniAnketler" && action == "Index") ? "active" : "")">@Html.ActionLink("Yeni Anket Kaydı", "Index", "YeniAnketler")</li>
              <li class="@((controller == "KişiListesi" && action == "Index") ? "active" : "")">@Html.ActionLink("Kişi Listesi", "Index", "KisiListesi")</li>
              <li class="@((controller == "CevaplanacakAnketlerim" && action == "Index") ? "active" : "")">@Html.ActionLink("Cevaplanacak Anketlerim", "Index", "CevaplanacakAnketlerim")</li>
            </ul>
        </div>

        <div class="col-xs-9 table-bordered">
       
          @RenderBody()
        </div>  
        <footer>
            <p>&copy; @DateTime.Now.Year </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        <script src="~/Scripts/gridmvc.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
