﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Çıkış</title>
</head>
<body>
    <div> <h1>@ViewBag.Message </h1>
    </div>
</body>
</html>
